/* Hoverable */
.hoverable {
  @apply flex flex-1 cursor-pointer;
}

.hoverable:not([data-non-interactive]) {
  @apply transition-colors;
}

.hoverable[data-variant="primary"] {
  @apply bg-background-tint-00;
}

.hoverable[data-variant="primary"]:not([data-non-interactive]):hover {
  @apply bg-background-tint-02;
}

.hoverable[data-variant="secondary"] {
  @apply bg-background-tint-02;
}

.hoverable[data-variant="secondary"]:not([data-non-interactive]):hover {
  @apply bg-background-tint-03;
}

/* Active & pressed (all variants) */
.hoverable:not([data-non-interactive]):active,
.hoverable:not([data-non-interactive])[data-pressed="true"] {
  @apply bg-background-tint-00;
}

/* HoverableContainer */
.hoverable-container[data-variant="primary"] {
  @apply p-2 rounded-08;
}
