# NOTE: Preserved for continued compatibility with Clear and Restart OpenSearch
# Container and other dev flows. Use
# deployment/docker_compose/docker-compose.yml instead, which contains the
# configuration for OpenSearch that is distributed to users. This file will be
# removed at some point in the future.

services:
  opensearch:
    image: opensearchproject/opensearch:3.4.0
    environment:
      # We need discovery.type=single-node so that OpenSearch doesn't try
      # forming a cluster and waiting for other nodes to become live.
      - discovery.type=single-node
      - OPENSEARCH_INITIAL_ADMIN_PASSWORD=${OPENSEARCH_ADMIN_PASSWORD:-StrongPassword123!}
    ports:
      - "9200:9200"
    healthcheck:
      test: ["CMD-SHELL", "curl -skf https://localhost:9200 -u admin:${OPENSEARCH_ADMIN_PASSWORD:-StrongPassword123!}"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 30s
