apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Values.config.envConfigMapName }}
  labels:
    {{- include "onyx.labels" . | nindent 4 }}
data:
  INTERNAL_URL: "http://{{ include "onyx.fullname" . }}-api-service:{{ .Values.api.service.servicePort | default 8080 }}"
  {{- $cnpgClusterEnabled := and .Values.postgresql.cluster (eq (default false .Values.postgresql.cluster.enabled) true) }}
  {{- $hasCustomPostgresHost := and .Values.configMap (not (empty .Values.configMap.POSTGRES_HOST)) }}
  {{- if and .Values.postgresql.enabled $cnpgClusterEnabled (not $hasCustomPostgresHost) }}
  POSTGRES_HOST: {{ include "onyx.postgresql.clusterName" . }}-rw
  {{- end }}
  {{- if .Values.vespa.enabled }}
  VESPA_HOST: {{ .Values.vespa.name }}.{{ .Values.vespa.service.name }}.{{ .Release.Namespace }}.svc.cluster.local
  {{- end }}
  {{- if .Values.opensearch.enabled }}
  OPENSEARCH_HOST: {{ .Values.opensearch.clusterName }}-{{ .Values.opensearch.nodeGroup }}.{{ .Release.Namespace }}.svc.cluster.local
  OPENSEARCH_REST_API_PORT: "9200"
  ENABLE_OPENSEARCH_INDEXING_FOR_ONYX: "true"
  ENABLE_OPENSEARCH_RETRIEVAL_FOR_ONYX: "false"
  {{- end }}
  {{- if .Values.redis.enabled }}
  REDIS_HOST: {{ .Values.redis.redisStandalone.name | default .Release.Name }}-master
  {{- end }}
  MODEL_SERVER_HOST: "{{ include "onyx.fullname" . }}-inference-model-service"
  INDEXING_MODEL_SERVER_HOST: "{{ include "onyx.fullname" . }}-indexing-model-service"
{{- range $key, $value := .Values.configMap }}
{{- if not (empty $value) }}
  {{ $key }}: "{{ $value }}"
{{- end }}
{{- end }}
  {{- if .Values.minio.enabled }}
  S3_ENDPOINT_URL: "http://{{ .Release.Name }}-minio:{{ default 9000 .Values.minio.service.port }}"
  {{- end }}
  {{- if .Values.codeInterpreter.enabled }}
  CODE_INTERPRETER_BASE_URL: "http://{{ .Release.Name }}-code-interpreter:{{ .Values.codeInterpreter.service.port }}"
  {{- end }}
