{{- if .Values.postgresql.enabled -}}
apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: {{ .Release.Name }}-{{ default "postgresql" .Values.postgresql.nameOverride }}
  labels:
    app.kubernetes.io/name: {{ default "postgresql" .Values.postgresql.nameOverride }}
    app.kubernetes.io/instance: {{ .Release.Name }}
spec:
  instances: {{ .Values.postgresql.cluster.instances | default 1 }}
  imageName: {{ default "ghcr.io/cloudnative-pg/postgresql:17.5" .Values.postgresql.cluster.imageName }}
  storage:
    size: {{ .Values.postgresql.cluster.storage.size | default "10Gi" }}
    {{- if .Values.postgresql.cluster.storage.storageClass }}
    storageClass: {{ .Values.postgresql.cluster.storage.storageClass }}
    {{- end }}
  enableSuperuserAccess: {{ .Values.postgresql.cluster.enableSuperuserAccess | default true }}
  superuserSecret:
    name: {{ .Values.postgresql.cluster.superuserSecret.name | default "onyx-postgresql" }}
{{- end }}
